 .tag-list {
   margin: 0;
   padding: 2em;
   line-height: 1.5em;
 }

 .tag-list h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.5em;
   text-transform: uppercase;
   margin: 0;
 }

 .tag-list .post-count {
   font-family: 'Poppins', sans-serif;
   font-size: 1em;
   color: #666;
   margin-bottom: 3em;
 }