.blog-list {
  padding: 0;
  margin: 2em 0 0 0;
}

.blog-list h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #ff5e1a;
  margin: 1em;
}

.blog-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.cards a:link,
.cards a:visited {
  color: #000;
  text-decoration: none;
}

.cards a:active,
.cards a:hover {
  color: #000;
  text-decoration: none;
}

.card {
  flex: 0 1 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  margin: 0 1em 1em 1em;
}

.card .image {
  max-width: 300px;
  margin: 1em auto 0 auto;
  overflow: hidden;
}

.card .text {
  padding: 0 1em 0 1em;
}

.card h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.25em;
  margin: 1em 0 1em 0;
}

.card p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25em;
}

.card .cta {
  font-weight: 700;
  color: #ff5e1a;
}

@media only screen and (min-width:769px) {
  .blog-list {
    margin: 2em auto 0 auto;
    max-width: 960px;
    padding: 0;
  }

  .blog-list h2 {
    margin: 1em 0 1em 0;
  }

  .blog-list ul li {
    margin: 0 0.5em 1em 0;
  }

  .card {
    flex: 0 1 32%;
    margin: 0 0 1em 0;
  }

  .card .image {
    max-width: none;
    margin: 0;
  }
}